<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>Aula 02</title>
</head>

<body>

  <div id="root">

  </div>
  <script type="text/x-template" id="button-x-template">
    <button @click="click">
      Click buttonXTemplate {{ count }} times
    </button>
  </script>
</body>

</html>