<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    {{ messageCount }}
   
    <button @click="count++">Clique aqui</button>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script>
    //message é uma variavel de estado
    const app = new Vue({
      el: "#app",
      data: {
        message: "Hello Vue",
        count: 0
      },
      computed: {
        messageCount() {
          return `${this.message} - ${this.count}`;
        },
      },
    });
  </script>
</body>

</html>